
/** ADD YOUR AWESOME CODES HERE **/



.upper-bar {
    height: 49px;
    background-color: #4c5a7d;
    color: white;
    font-weight: bold;
}
.upper-bar span {
    color: white;
    margin-top: 10px;
}
.img-fluid {

}